@charset "utf-8";
/* pc */
@font-face {
  font-family: "Londrina Bold";
  src: url("/Font/londrinasolid-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Suit";
  src: url("/Font/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@media screen and (min-width: 1700px) {
  .HeaderBar {
    background-color: #27374d;
    width: 100%;
    height: 150px;
    position: relative;
  }
  .Header_Logo {
    width: 1600px;
    height: 100%;
    line-height: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  h1 {
    font-size: 5.2rem;
    color: #fff;
    text-align: center;
  }
  .MainBanner {
    width: 100%;
    height: 800px;
    background: #000;
    position: relative;
  }
  .SerchBox {
    width: 790px;
    padding-top: 270px;
    /* display: flex; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  .SerchInput {
    width: 100%;
    height: 100px;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 3rem;
    padding: 0;
    border: 0;
    border-bottom: 3px solid #d9d9d9;
  }
  .SerchInput::placeholder {
    font-size: 2.4rem;
    text-align: center;
  }
  .SerchBtn {
    position: absolute;
    right: 40px;
    top: 34px;
    width: 40px;
    height: 40px;
    background: #27374d;
    border-radius: 100%;
    border: none;
  }
  .SerchBtn:hover {
    cursor: pointer;
  }
  .LinkBox {
    width: 790px;
    color: #fff;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 470px;
    z-index: 1;
  }
  .LinkBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 4rem;
    padding-top: 0px;
  }
  .LinkBar button {
    font-size: 4rem;
    background: none;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: all 0.5s;
  }
  .LinkBar button:hover {
    color: #27374d;
  }

  .MoviePosters {
    /* background: green;; */
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative;
  }
  .posterBoxWrap {
    width: 1600px;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .posterBox {
    height: auto;
    width: 23%;
  }

  .posterBox h3 {
    padding-bottom: 50px;
  }
  .movieNow {
    width: 1600px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    position: absolute;
  }
  .movieNow h2 {
    display: inline-block;
    font-size: 4rem;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .titleAverage {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    transition: all 0.3s;
  }
  .posterBox img {
    cursor: pointer;
  }
  .posterBox:hover .titleAverage {
    background: rgb(22, 31, 54);
    color: white;
  }
  .Poster {
    width: 100%;
    height: 400px;
  }

  /* popup */
  .popupWrap {
    position: fixed;
    top: 0;
    left: 0;
    /* display: none; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
  }
  @media (max-height: 800px) {
    .popupWrap {
      overflow-y: scroll;
    }
  }
  .popupModal {
    width: 80%;
    height: 100%;
    margin: 10% auto 0;
    opacity: 1;
  }
  #opci {
    opacity: 1;
  }
  .popupPosterBox {
    /* position: absolute; */
    width: 45%;
    height: 650px;
    background: green;
    float: left;
  }
  .popupPosterBox img {
    width: 100%;
    height: 100%;
  }
  .clear {
    clear: both;
  }
  .popupRight {
    float: right;
    width: 50%;
    height: 500px;
  }
  .popupPlotBox {
    width: 100%;
    height: 100%;
    background: #d9d9d9;
    border-radius: 10px;
    position: relative;
  }
  .popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .plotTitleP {
    width: 95%;
    margin: 0 auto;
  }
  .plotTitle h3 {
    font-size: 4.2rem;
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .Plots {
    font-size: 2rem;
    line-height: 1.3;
  }
  .popupEtcBox {
    width: 100%;
    height: 100px;
    background: #d9d9d9;
    margin-top: 50px;
    border-radius: 10px;
  }
  .etcBar {
    display: flex;
    justify-content: space-between;
    line-height: 5;
    font-size: 2rem;
    width: 95%;
    margin: 0 auto;
  }
  .popup_close {
    float: right;
  }
  .serchList {
    width: 100%;
    color: #000;
    background: #fff;
    font-size: 2.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
  }
  .serchItem {
    width: 100%;
  }
  .inputList {
    width: 100%;
    position: relative;
  }
  .inputList li {
    padding-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .btnWrap {
    position: fixed;
    bottom: 10%;
    right: 15px;
    width: 30px;
    height: 30px;
  }
}

/* pc끝 */
